a.disclosure:link {
    text-decoration: none;
}
a.disclosure:visited {
    text-decoration: none;
}
.disclosure {
    color: #337AB7; font-size: 150%;
}
.syntax {
    color: grey;
}
.string {
    color: #9A334F;
}
.number{
    color: #5C9632;
}
.boolean {
    color: #AA9739;
}
.key {
    color: #403075;
}
.keyword {
    color: #AA9739;
}
.object.syntax {
    color: #337AB7;
}
.array.syntax {
    color: #337AB7;
}
